@import url('https://fonts.googleapis.com/css?family=Open+Sans|Lato:100');
body {
    margin: 0px;
}
ul {
    padding: 0px;
}
.navigation {
    display: flex;
    background-color: #262b31;
    height: 70px;
    align-items: center;
}

.logo-page {
    margin-left: 30px;
}

.logo-page a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #E5E7E9;
    font-size: 23px;
}

.navigation-list {
    margin-left: auto;
    color: white
}

.power {
    color: blue;
}

.navigation-elements {
    display: flex;
}

.navigation-elements .one-element {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    cursor: pointer;
}

.one-element:hover:not(.active) {
    background-color: #3a3e44;
    border-radius:10px;
}

li.one-element.active {
    background-color: #DA7E79;
    border-radius:10px;
}

.one-element a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #E5E7E9;
}

.header {
    display: flex;
    flex-direction: column;
    padding-top: 160px;
    padding-bottom: 160px;
    background-image: url("images/bridge3.jpg");
    background-size: cover;
}
h1, h2, h3{
    font-family: 'Lato', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
}
.subtitle, .title, .button {
    display: flex;
    justify-content: center;
    color: #F8F9F9;
}
.title{
    margin: 0px;
    font-size:60px;
    margin-bottom: 20px;
}
.subtitle{
    margin: 0px;
    font-size: 22px;
    text-align: center;
    line-height: 40px;
}
.button{
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: solid;
    border-radius: 5px;
    font-size: 21px;
}
.button h3{
    margin: 0px;
}
.transparent{
    margin-top: 80px;
    border-color: #F8F9F9;
    background-color: transparent;
}
.transparent:hover{
    background-color: white;
    color: #1d1e1f;
}
.full{
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #d9dcdc;
    background-color: white;
    color: #1d1e1f;
}
.full:hover{
    background-color: #1d1e1f;
    border-color: #1d1e1f;
    color:white;
}
.section{
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 250px;
    padding-right: 250px;
}

.background-pink{
    background-color: #DA7E79;
    border-color:#DA7E79;
}

.grey{
    background-color: #eaeaea;
}

.little{
    font-size: 40px;
    text-align: center;
}
.section-articles{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 80px;
}
.article-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article{
    width:250px;
    height:470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.border{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: solid;
    border-radius: 50%;
    border-color:#a9a9a9;
    border-width: 1px; 
    padding: 12px;
}
.article-list .article .icon{
    font-size: 50px;
    color: #DA7E79;
    padding: 20px;
}
.title-article{
    margin-top: 60px;
    margin-bottom: 30px;
    font-size:25px;
}
.paragraph-article
{
    color: #8c8282;
    line-height: 25px;
}

.black{
    color: #4a4a4a;
}

.images-list{
    border-style: solid;
    border-top-color: #d6d6d6;
    border-bottom-color: #d6d6d6;
    border-width: 1px;
    border-left: none;
    border-right: none;
    margin-top:50px;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section .images-list .icon{
        font-size:100px;
        color: white;
        margin: 30px;
} 
.one-icon .icon{
    font-size: 50px;
    color: #DA7E79;
    padding: 20px;
}
.one-icon{
    width:200px;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}
.background-image{
    background-image: url("images/sunrise.jpg");
    background-size: cover;
}
.person{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}
.text{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f7f7f7;
    border-style: solid;
    border-radius: 3px;
    border-width: 0px;
}
.input{
    width: 470px;
    height: 42px;
}
.text:focus, .message:focus{
    outline: none;
    border-width: 1px;
    border-color: #DA7E79;
}
.message-section{
    margin-bottom: 40px;
}
.message{
    width: 97%;
    height: 250px;
    padding-top: 10px;
    resize: none;
}
